h1 {
    font-family: 'Satisfy', cursive;
}
.smaller-rounded-image {
    width: 500px;
    border-radius: 8px;
}
h2 {
    font-family: 'Satisfy', cursive;
}
p {
    font-family: 'Courgette', cursive;
}
li{
    font-family: 'Courgette', cursive;
}
}